#### Predimensionado

In [1]:
from barriga.modu import Rock
import matplotlib.pyplot as plt
from plottable import Table
import pandas as pd
import copy

In [2]:
# Fuerzas
inc = [


    # 1
    [5, True],

    # 2
    [0, True],

    # 3
    [0, True],

    # 4
    [0, True],

    # 5
    [0, True],

    # 6
    [0, False],

    # 7
    [0, False],

    # 8
    [0, False],

    # 9
    [0, False],
]

# bar,noi,nof,are,mod,iner (pulg, kip)
iba = [
    [1, 1, 2, 10, 29e3, 500],
    [2, 2, 3, 10, 29e3, 500]
]

# nod,imn,ifx,ify,cox,coy
ino = [
    [1, 5, 4, 6, 0, 20*12],
    [2, 3, 1, 2, 20*12, 20*12],
    [3, 9, 7, 8, 20*12, 0]
]

In [4]:
acdc = Rock(inc, iba, ino, True)

,4,6,5,1,2,3
4,1208.333333,0.000000,0.000000,-1208.333333,0.000000,0.000000
6,0.000000,12.586806,1510.416667,0.000000,-12.586806,1510.416667
5,0.000000,1510.416667,241666.666667,0.000000,-1510.416667,120833.333333
1,-1208.333333,0.000000,0.000000,1208.333333,0.000000,0.000000
2,0.000000,-12.586806,-1510.416667,0.000000,12.586806,-1510.416667
3,0.000000,1510.416667,120833.333333,0.000000,-1510.416667,241666.666667

,1,2,3,7,8,9
1,12.586806,0.000000,1510.416667,-12.586806,0.000000,1510.416667
2,0.000000,1208.333333,0.000000,0.000000,-1208.333333,0.000000
3,1510.416667,0.000000,241666.666667,-1510.416667,0.000000,120833.333333
7,-12.586806,0.000000,-1510.416667,12.586806,0.000000,-1510.416667
8,0.000000,-1208.333333,0.000000,0.000000,1208.333333,0.000000
9,1510.416667,0.000000,120833.333333,-1510.416667,0.000000,241666.666667

Matriz de rigidez

Matrix([
[ 1220.9,       0,    1510.4, -1208.3,         0,       0, -12.587,       0,    1510.4],
[      0,  1220.9,   -1510.4,       0,   -1510.4, -12.587,       0, -1208.3,         0],
[ 1510.4, -1510.4, 4.8333e+5,       0, 1.2083e+5,  1510.4, -1510.4,       0, 1.2083e+5],
[-1208.3,       0,         0,  1208.3,         0,       0,       0,       0,         0],
[      0, -1510.4, 1.2083e+5,       0, 2.4167e+5,  1510.4,       0,       0,         0],
[      0, -12.587,    1510.4,       0,    1510.4,  12.587,       0,       0,         0],
[-12.587,       0,   -1510.4,       0,         0,       0,  12.587,       0,   -1510.4],
[      0, -1208.3,         0,       0,         0,       0,       0,  1208.3,         0],
[ 1510.4,       0, 1.2083e+5,       0,         0,       0, -1510.4,       0, 2.4167e+5]])

[D_1, D_2, D_3, D_4, D_5, Q_6, Q_7, Q_8, Q_9]

Matriz de desplazamiento:

⎡D₁⎤
⎢  ⎥
⎢D₂⎥
⎢  ⎥
⎢D₃⎥
⎢  ⎥
⎢D₄⎥
⎢  ⎥
⎢D₅⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎣0 ⎦


Soluciones:

{D_1: 0.695753931751978, D_2: -0.00155071455813964, D_3: -0.00248760460368232, D_4: 0.695753931751978, D_5: 0.00123411033585278, Q_6: -1.87378009108540, Q_7: -4.99999999999694, Q_8: 1.87378009108539, Q_9: 750.292778138773}

''

Fuerza en barra 1

                       1
4                      0
6      -1.87378009108539
5  -1.25055521493778e-12
1                      0
2       1.87378009108539
3      -449.707221860493

''

Fuerza en barra 2

                   2
1  -3.73780091086303
2   840.702667533640
3  -598.828887442704
7   3.73780091086303
8  -840.702667533640
9  -298.243331164423