#### Predimensionado

In [1]:
from barriga.modu import Rock
import matplotlib.pyplot as plt
from plottable import Table
import pandas as pd
import copy

In [ ]:
# Fuerzas
inc = [


    # 1
    [0, True],

    # 2
    [-30, True],

    # 3
    [-1200, True],

    # 4
    [0, False],

    # 5
    [0, False],

    # 6
    [0, False],

    # 7
    [0, False],

    # 8
    [0, False],

    # 9
    [0, False],
]

# bar,noi,nof,are,mod,iner (pulg, kip)
iba = [
    [1, 1, 2, 12, 29e3, 600],
    [2, 2, 3, 12, 29e3, 600]
]

# nod,imn,ifx,ify,cox,coy
ino = [
    [1, 6, 4, 5, 0, 0],
    [2, 3, 1, 2, 20*12, 15*12],
    [3, 9, 7, 8, 40*12, 15*12]
]

In [3]:
acdc = Rock(inc, iba, ino, True)

         4           5         6        1           2         3
4  745.184  553.088000    -696.0 -745.184 -553.088000    -696.0
5  553.088  422.549333     928.0 -553.088 -422.549333     928.0
6 -696.000  928.000000  232000.0  696.000 -928.000000  116000.0
1 -745.184 -553.088000     696.0  745.184  553.088000     696.0
2 -553.088 -422.549333    -928.0  553.088  422.549333    -928.0
3 -696.000  928.000000  116000.0  696.000 -928.000000  232000.0

        1            2         3       7            8         9
1  1450.0     0.000000       0.0 -1450.0     0.000000       0.0
2     0.0    15.104167    1812.5     0.0   -15.104167    1812.5
3     0.0  1812.500000  290000.0     0.0 -1812.500000  145000.0
7 -1450.0     0.000000       0.0  1450.0     0.000000       0.0
8     0.0   -15.104167   -1812.5     0.0    15.104167   -1812.5
9     0.0  1812.500000  145000.0     0.0 -1812.500000  290000.0

Matriz de rigidez

Matrix([
[ 2195.2,  553.09,   696.0, -745.18, -553.09,   696.0, -1450.0,       0,       0],
[ 553.09,  437.65,   884.5, -553.09, -422.55,  -928.0,       0, -15.104,  1812.5],
[  696.0,   884.5, 5.22e+5,  -696.0,   928.0, 1.16e+5,       0, -1812.5, 1.45e+5],
[-745.18, -553.09,  -696.0,  745.18,  553.09,  -696.0,       0,       0,       0],
[-553.09, -422.55,   928.0,  553.09,  422.55,   928.0,       0,       0,       0],
[  696.0,  -928.0, 1.16e+5,  -696.0,   928.0, 2.32e+5,       0,       0,       0],
[-1450.0,       0,       0,       0,       0,       0,  1450.0,       0,       0],
[      0, -15.104, -1812.5,       0,       0,       0,       0,  15.104, -1812.5],
[      0,  1812.5, 1.45e+5,       0,       0,       0,       0, -1812.5,  2.9e+5]])

[D_1, D_2, D_3, Q_4, Q_5, Q_6, Q_7, Q_8, Q_9]

Matriz de desplazamiento:

⎡D₁⎤
⎢  ⎥
⎢D₂⎥
⎢  ⎥
⎢D₃⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎢0 ⎥
⎢  ⎥
⎣0 ⎦


Soluciones:

{D_1: 0.0247273165028765, D_2: -0.0954108275167552, D_3: -0.00217015198342420, Q_4: 35.8546089291709, Q_5: 24.6254984894260, Q_6: -145.986169855656, Q_7: -35.8546089291709, Q_8: 5.37450151057402, Q_9: -487.604162470628}


Analisis 1

array([[ 1.16000000e+03,  0.00000000e+00,  0.00000000e+00,
        -1.16000000e+03,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  7.73333333e+00,  1.16000000e+03,
         0.00000000e+00, -7.73333333e+00,  1.16000000e+03],
       [ 0.00000000e+00,  1.16000000e+03,  2.32000000e+05,
         0.00000000e+00, -1.16000000e+03,  1.16000000e+05],
       [-1.16000000e+03,  0.00000000e+00,  0.00000000e+00,
         1.16000000e+03,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00, -7.73333333e+00, -1.16000000e+03,
         0.00000000e+00,  7.73333333e+00, -1.16000000e+03],
       [ 0.00000000e+00,  1.16000000e+03,  1.16000000e+05,
         0.00000000e+00, -1.16000000e+03,  2.32000000e+05]])

array([[ 0.8,  0.6,  0. ,  0. ,  0. ,  0. ],
       [-0.6,  0.8,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0.8,  0.6,  0. ],
       [ 0. ,  0. ,  0. , -0.6,  0.8,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  1. ]])

array([0, 0, 0, 0.0247273165028765, -0.0954108275167552,
       -0.00217015198342420], dtype=object)

''

Fuerza en barra 1

                   1
4   43.4589862369923
5  -1.81236656596173
6  -145.986169855656
1  -43.4589862369923
2   1.81236656596173
3  -397.723799932863

Analisis 2

array([[ 1.45000000e+03,  0.00000000e+00,  0.00000000e+00,
        -1.45000000e+03,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  1.51041667e+01,  1.81250000e+03,
         0.00000000e+00, -1.51041667e+01,  1.81250000e+03],
       [ 0.00000000e+00,  1.81250000e+03,  2.90000000e+05,
         0.00000000e+00, -1.81250000e+03,  1.45000000e+05],
       [-1.45000000e+03,  0.00000000e+00,  0.00000000e+00,
         1.45000000e+03,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00, -1.51041667e+01, -1.81250000e+03,
         0.00000000e+00,  1.51041667e+01, -1.81250000e+03],
       [ 0.00000000e+00,  1.81250000e+03,  1.45000000e+05,
         0.00000000e+00, -1.81250000e+03,  2.90000000e+05]])

array([[ 1.,  0.,  0.,  0.,  0.,  0.],
       [-0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0., -0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.]])

array([0.0247273165028765, -0.0954108275167552, -0.00217015198342420, 0,
       0, 0], dtype=object)

''

Fuerza en barra 2

                   2
1   35.8546089291709
2  -5.37450151057402
3  -802.276200067137
7  -35.8546089291709
8   5.37450151057402
9  -487.604162470628